body {
    background: rgb(81, 214, 255);
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: white;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px #0000006e;
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}